/* global*/
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  font-size: 14px;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
h2,
h3 {
  color: #38a1d7;
}
p {
  text-align: justify;
  text-align-last: left;
  margin-bottom: 25px;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
.txt-right {
  text-align: right;
}



/*  NAV BAR */


/* COVER */
.portada {
  min-height: 160px;
  max-height: 274px;
  height: 274px;
}

.articulos-cover {
  background: url(http://www.laboratorioseca.com/articulos/assets/articulos.png)
    no-repeat center top;
}

.mainMsje {
  color: #f39149;
  font-family: "Lato", cursive;
  max-width: 100%;
  font-size: 24px;
  position: relative;
  text-align: center;
  margin: auto;
}

/* CONTAINER */
.container-fx {
  padding: 25px 0px;
  border-radius: 20px;
  min-height: 150px;
  background: white;
  margin-top: 25px;
}
/* ROW */
.row {
  margin: 10px;
  padding-bottom: 15px;
}

/*MARGIN */
.mb {
  margin-bottom: 25px;
}


/* Imagenes */
img {
  margin-bottom: 15px;
}
.img-mt {
  margin-top: 15px;
}



/* col - SM */
@media (min-width: 768px) {
}
/* col - MD */
@media (min-width: 992px) and (max-width: 1200px) {
  .portada {
    min-height: 281px;
  }

  .articulos-cover {
    background: url(http://www.laboratorioseca.com/articulos/assets/articulos.png)
      no-repeat center top;
  }

  .mainMsje {
    max-width: 60%;
    font-size: 28px;
    text-align: center;
    margin: auto;
  }

}
/* col - LG */

@media (min-width: 1201px) {
  .portada {
    min-height: 390px;
  }

 
  .articulos-cover {
    background: url(http://www.laboratorioseca.com/articulos/assets/articulos.png)
      no-repeat center top;
  }

  .mainMsje {
    max-width: 70%;
    font-size: 36px;
    text-align: center;
    margin: auto;
    line-height: 40px;
  }

  /************** TABLE ******************************/

 
}



/* CSS  ARTICULOSsssssssssssss */

.img-articulos {
  display: block;
  margin: auto;
}

.menu {
  display: flex;
  list-style: none;
}
.bwp-header .header-top {
  padding: 15px 60px;
}
.header-content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 0px;
  align-items: center;
}

.bwp-header .wpbingoLogo img {
  max-height: 25px;
  width: auto;
}
.bwp-header.header-v1 .header-menu {
  text-align: center;
}
.wpbingo-menu-wrapper .navbar-default {
  border: none;
  background: transparent;
}

@media (min-width: 992px) {
  .bwp-navigation {
    display: inline-block;
    vertical-align: middle;
  }
}

#menu-menu-labeca {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bwp-navigation ul > li.level-0 {
  margin: 0 12px !important;
}

.bwp-navigation ul > li.level-0 > a {
  position: relative;
  text-transform: uppercase;
  font-family: Muli, sans-serif;
  font-weight: 700;
  font-size: 11px;
  background-color: transparent;
  color: #080808;
  display: table;
  white-space: nowrap;
  letter-spacing: 3px;
  line-height: 12px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.menu-item img._before,
.rtl .menu-item img._after {
  margin-right: 0.5em;
}
.menu-item-text img {
  max-width: 22px !important;
  height: auto;
  margin-bottom: 0px;
}
.bwp-navigation ul {
  padding: 0;
  list-style: none;
  float: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  margin: 0;
}
bwp-navigation ul > li.level-0 {
  position: relative;
  display: table;
  float: left;
  margin: 0 20px;
}
.bwp-navigation ul > li.level-0 > a > span:before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #e7b053;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.bwp-navigation ul > li.level-0 > a {
  position: relative;
  text-transform: uppercase;
  font-family: Muli, sans-serif;
  font-weight: 700;
  font-size: 11px;
  background-color: transparent;
  color: #080808;
  display: table;
  white-space: nowrap;
  letter-spacing: 3px;
  line-height: 12px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

#bwp-footer {
  background: #8cc04b;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  color: #909090;
  border-bottom: none;
  font-size: 14px;
  z-index: 2;
  line-height: 24px;
  margin-top: 110px;
  margin: auto;
}

.elementor-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.elementor-section .elementor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1200px;
}
#bwp-footer ul {
  list-style: none;
  padding: 0;
}
.menu-desktop {
  display: block;
}
.menu-mobile {
  display: none;
}

@media screen and (max-width: 768px) {

  .container-menu{
    padding:1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-menu img{
    width: 80%;
    z-index: 999;
    position: relative;
  }
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .menu-mobile .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .menu-mobile nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 9rem;
    padding-bottom: 9rem; */
    /* z-index: 1; */
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    transform: translateX(-100%);
    transition: all 0.4s ease-in;
  }

  .menu-mobile nav.abrir {
    transform: translateX(0%)!important;
  }

  .menu-mobile nav a {
    color: #000;
    text-decoration: none;
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
    font-size: 2.2rem;
    margin: 2rem 0;
  }
  .menu-mobile .hamb {
    color: #000;
    z-index: 999;
    font-size: 2rem;
  }
  #menu-menu-labeca{
    flex-direction: column;
    align-items: start;
    padding-left: 0rem;
  }
  #menu-menu-labeca li{
    margin-bottom: 1rem;
    
  }
}
